{% load static %}

{% if "http://localhost:8000/expeditions/" in request.build_absolute_uri or "http://127.0.0.1:8000/expeditions/" in request.build_absolute_uri %}
    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ place.image.url }}">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ place.name }}</h5>
                    <p class="card-text">Площадь: {{ place.square }} km²</p>
                    <div class="form-group">
                        <label class="form-label">Порядок посещения</label>
                        {% if place.value %}
                            <input placeholder="Введите порядок" disabled type="text" class="form-control" style="width: 250px" value="{{ place.value }}">
                        {% else %}
                            <input placeholder="Введите порядок" disabled type="text" class="form-control" style="width: 250px">
                        {% endif %}
                    </div>
                    <a href="/places/{{ place.id }}/" class="btn btn-primary" style="width: 150px">
                        Подробнее
                    </a>
                </div>
            </div>
         </div>
    </div>
{% else %}
    <div class="card">
        <img src="{{ place.image.url }}" class="place-preview" alt=""/>
        <div class="card-body" >
            <div class="card-info">
                <h5 class="card-title">{{ place.name }}</h5>
                <p class="card-text">Площадь: {{ place.square }} km²</p>
            </div>
            <div class="row card-btns">
                <div class="col d-flex justify-content-center flex-grow-1">
                    <a href="/places/{{ place.id }}" class="btn btn-primary">
                        Подробнее
                    </a>
                </div>
                <form method="post" action="{% url 'add_place_to_draft_expedition' place.id %}" class="col d-flex justify-content-center">
                    {% csrf_token %}
                    <button class="add-btn btn btn-secondary" type="submit">
                        Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}