{% load static %}


{% if "http://localhost:8000/expeditions/" in request.build_absolute_uri %}

    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ city.image }}"  >
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ city.name }} </h5>
                    <p class="card-text">Площадь: {{ city.square }} km²</p>
                    <div class="form-group">
                        <label class="form-label">Номер</label>
                        <input disabled type="number" class="form-control" style="width: 150px" value={{ city.value }}>
                    </div>
                    <!-- <a href="/citys/{{ city.id }}/" class="btn btn-primary" style="width: 150px">
                        Подробнее
                    </a> -->
                </div>
            </div>
         </div>
{% else %}

    <div class="card">

        <img src="{{ city.image }}" class="city-preview" alt=""/>

        <div class="card-body" >

            <div class="card-info">

                <h5 class="card-title">{{ city.name }}</h5>

                <p class="card-text">Площадь: {{ city.square }} km²</p>

            </div>

            <div class="card-btns">

                <a href="/citys/{{ city.id }}/" class="btn btn-primary center">
                    Подробнее
                </a>

            </div>

        </div>

    </div>

{% endif %}




